body{
  background-color: #051923;
  font-family: Arial, Helvetica, sans-serif;
}
.timeline-area{
  margin:  auto;
  width: 360px;
  border-left: 3px solid rgb(35, 103, 250);
  padding: 0px 20px 0px 30px;
}
div{
padding: 10px 10px;
margin-bottom: 10px;
color: white;
line-height: 1;
  
}

div:before{
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  border: 2px solid rgb(35, 103, 250);
  background-color:#051923; ;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: -55px;
  
}


div:hover::before{
  content: "";
  width: 25px;
  height: 25px;
  background-color: rgb(35, 103, 250);
 
  
}

div::after{
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color:  transparent   rgb(35, 103, 250)  transparent transparent ;
  border-width:8px;
  position: relative; 
  display: block;
  top: -145px;
  left: -25px;
 
}


